<form name="form1" action="msgInserir" method="post"><br>
<input type='text' name='id' id='id' placeholder='id:'><br>
<input type='text' name='nome' id='nome' placeholder='Nome:'><br>
<input type='text' name='senha' id='senha' placeholder='Senha:'><br>
<input type='submit' name='btnSubmit' id='btnSubmit' value='Salvar'><br>
</form>