<form name="form1" action="update" method="post"><br>
<input type='text' name='id' id='id' value="{{id}}"><br>
<input type='text' name='nome' id='nome' placeholder='Nome:'value="{{nome}}"><br>
<input type='text' name='senha' id='senha' placeholder='Senha:'value="{{senha}}"><br>
<input type='submit' name='btnSubmit' id='btnSubmit' value='update'><br>
</form>